* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: hsl(214, 17%, 92%);
}
p {
  line-height: 1.5;
  margin: 20px;
  font-weight: 500;
  opacity: 0.8;
}
p.sub {
  font-size: 16px;
  line-height: 1.5;
}
p.article_main {
  opacity: 1;
  line-height: 1.2;
  margin-bottom: 15px;
  font-size: 22px;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 1.5rem;
}

.card_1 {
  background-image: url("./images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top right 2rem;
  background-size: 110px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(263, 55%, 52%);
  border-radius: 10px;
  padding: 40px 20px 30px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card_2 {
  color: hsl(0, 0%, 100%);
  background-color: hsl(217, 19%, 35%);
  border-radius: 10px;
  padding: 40px 20px 30px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card_3 {
  color: hsl(0, 0%, 7%);
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 40px 20px 30px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card_4 {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 40px 20px 30px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card_5 {
  color: hsl(0, 0%, 100%);
  background-color: hsl(219, 29%, 14%);
  border-radius: 10px;
  padding: 40px 20px 30px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h3 {
  margin-bottom: 5px;
  font-weight: 600;
  font: 1.1em sans-serif;
}

h5 {
  font-weight: 400;
  opacity: 0.8;
}

.main-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.15);
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    margin: auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    font-family: "Barlow Semi Condensed", sans-serif;
  }

  .card_1 {
    color: hsl(0, 0%, 100%);
    background-color: hsl(263, 55%, 52%);
    grid-column: span 2;
    grid-row: span 2;
    border-radius: 10px;
    padding: 40px 20px 30px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .card_2 {
    color: hsl(0, 0%, 100%);
    grid-column: 3 / 4;
    grid-row: span 2;
    background-color: hsl(217, 19%, 35%);
    border-radius: 10px;
    padding: 40px 20px 30px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .card_3 {
    color: hsl(0, 0%, 7%);
    grid-column: 4 / 5;
    grid-row: span 3;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 40px 20px 30px 20px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .card_4 {
    grid-column: 1 / 2;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 40px 20px 30px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .card_5 {
    color: hsl(0, 0%, 100%);
    grid-column: 2 / 4;
    background-color: hsl(219, 29%, 14%);
    border-radius: 10px;
    padding: 40px 20px 30px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}
.container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.name {
  color: hsl(0, 0%, 0%);
  font-weight: bold;
  text-decoration: none;
}
